<!DOCTYPE html>
<html lang="es">

<head>
    <meta name="description" content="Practica Primera Web">
    <meta name="robots" content="NOFOLLOW">
    <meta name="Author" content="Eloy">
    <meta name="keywords" content="Demo,Prueba,Práctica4">
    <meta name="lang" content="es">
    <meta name="revisit-after" content="2 days">
    <meta name="category" content="Prácticas">
    <!-- Declaración de fichero de estilos -->
    <link rel="stylesheet" type="text/css" href="../CSS/estilos.css">
    <title>Práctica 4 - Sitio Web</title>
    <meta charset="UTF-8">
    <meta name="Practica" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <img src="../images/History.png" class="kj" alt="logo" width="500" height="500"> 
    <img src="../images/1.png" class="km" alt="nombre_pagina" width="900" height="600">
    <h1>Donde estamos y nuestro telefono</h1>
    <header>

        <!--Div que contiene el menú-->
        <div class="div_menu">
            <span class="botonin">
                <a href="../index.html" class="div_menu">Índice</a>
            </span>
            <span class="boton">
                <a href="../Views/mitos_principales_0.2.html" class="div_menu">Mitos principales</a>
            </span>
            <span class="boton">
                <a href="../Views/mitos_mas_raretes.html" class="div_menu">Mitos mas raretes</a>
            </span>
            <span class="boton">
                <a href="../Views/infografia_y_webgrafia.html" class="div_menu">bibliografiay webgrafia</a>
            </span>
            <span class="boton">
                <a href="../Views/Galeria.html" class="div_menu"> Galeria</a>
            </span>
            <span class="boton">
                <a href="../Views/Presupuestos.html" class="div_menu">Registro</a>
            </span>
            <span class="boton">
                <a href="#" class="div_menu">Contacto</a>
            </span>

        </div>
    </header>
        <div class="vuelvas">
            <p class=""> Contacto</p>
            <img src="../images/Captura.PNG" class="dx" alt="captura sitio" width="1048" height="675"> 

            <div>
                <p>Nombre de la empresa: History warriors.
                    Localización: C/ Rey Don Pedro  telefono:957 33 67 89
                </p>
            </div>
        </div>
        <footer class="footer">
            <a href="https://www.instagram.com" class="div_menu"> <img src="../images/Instagram_logo_2022.svg.png"
                    class="f1" alt="logo instagram" width="800" height="800"> </a>
            <a href="https://www.twitter.com"> <img src="../images/uDmdf69S_400x400.jpg" class="f2" alt="logo X" width="400" height="400"></a>
            <a href="https://www.bereal.com"> <img src="../images/BeReal._Logo.svg.png" class="f3" alt="logo be real" width="1200" height="1200"></a>
            <br><a href="../avisos_legales_politica_de_cookies_etc/avisoLegal.pdf" class="f9"> aviso legal</a>
            <a href="../avisos_legales_politica_de_cookies_etc/politicaCookies.pdf" class="f10"> politica de cookies</a>
            <a href="../avisos_legales_politica_de_cookies_etc/avisoConfidencialidad.pdf" class="f11"> aviso
                confidencialidad</a>
            <a href="../avisos_legales_politica_de_cookies_etc/politicaPrivacidadDatos.pdf" class="f12"> politica
                privacidad</a>
        </footer>
    </body> 
   
       </html>