<!DOCTYPE html>
<html lang="es">

<head>
    <meta name="description" content="Practica Primera Web">
    <meta name="robots" content="NOFOLLOW">
    <meta name="Author" content="Eloy">
    <meta name="keywords" content="Demo,Prueba,Práctica4">
    <meta name="lang" content="es">
    <meta name="revisit-after" content="2 days">
    <meta name="category" content="Prácticas">
    <!-- Declaración de fichero de estilos -->
    <link rel="stylesheet" type="text/css" href="../CSS/estilos.css">
    <title>Práctica 4 - Sitio Web</title>
    <meta charset="UTF-8">
    <meta name="Practica" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <img src="../images/History.png" class="kj" alt="logo" width="500" height="500"> 
    <img src="../images/1.png" class="km" alt="nombre_pagina" width="900" height="600">
    <h1>Galeria imagenes usadas aquí</h1>

    <header>

        <!--Div que contiene el menú-->
        <div class="div_menu">
            <span class="botonin">
                <a href="../index.html" class="div_menu">Índice</a>
            </span>
            <span class="boton">
                <a href="../Views/mitos_principales_0.2.html" class="div_menu">Mitos principales</a>
            </span>
            <span class="boton">
                <a href="../Views/mitos_mas_raretes.html" class="div_menu">Mitos mas raretes</a>
            </span>
            <span class="boton">
                <a href="../Views/infografia_y_webgrafia.html" class="div_menu">bibliografiay webgrafia</a>
            </span>
            <span class="boton">
                <a href="#" class="div_menu"> Galeria</a>
            </span>
            <span class="boton">
                <a href="../Views/Presupuestos.html" class="div_menu">Registro</a>
            </span>
            <span class="boton">
                <a href="../Views/contacto.html" class="div_menu">Contacto</a>
            </span>

        </div>
    </header>

    <div class="vuelvas">
        <h1 style="margin-left:300px;">Imagenes</h1>
        <div><img src="../images/imagen_mapa.jpg" class="f23" alt="mapa de como quedo el mapa durante el conflicto" width="267" height="189"></div>
        <div><img src="../images/Adolf_Hitler_cropped_restored.jpg" class="f25" alt="foto hitler" width="640" height="843"></div>
        <div> <img src="../images/descarga.jpg" class="f27" alt="tiger tanque" width="191" height="180"></div>
        <div><img src="../images/pacto-de-acero.jpeg" class="f29" alt="pacto de acero" width="1024" height="576"></div>
        <div><img src="../images/unnamed.gif" class="f31" alt="pacto acero 2" width="470" height="237"></div>
        <div><img src="../images/descarga_(1).jpg" class="f33" alt="soldados en invierno" width="300" height="168"></div>
        <div> <img src="../images/hitler-k6oD--510x349@abc.webp" class="f35" alt="el Führer" width="510" height="349"></div>
        <div> <img src="../images/mapa-politico-argentina.webp" class="f37" alt="Argentina" width="1300" height="1837"></div>
        <div><img src="../images/descarga_(2).jpg" class="f39" alt="Bomba fat man" width="276" height="183"></div>
        <div><img src="../images/Flag_of_the_Soviet_Union.svg.png" class="f41" alt="Bandera Unión Sovietica" width="2560" height="1280"></div>
        <div><img src="../images/Manchukuo_map.png" class="f43" alt="Manchuria" width="800" height="924"></div>
        <div><img src="../images/GNR_1744_at_Leicester_North_(3).jpg" class="f45" alt="tren" width="2910" height="1848"></div>
        <div><img src="../images/Francisco-Franco.webp" class="f47" alt="Francisco Franco" width="1186" height="1600"></div>
        <div><img src="../images/98.webp" class="f49" alt="visita de Hitler a España" width="1900" height="1069">
        </div>
    </div>
    <footer class="footer">
        <a href="https://www.instagram.com" class="div_menu"> <img src="../images/Instagram_logo_2022.svg.png"
                class="f1" alt="logo instagram" width="800" height="800"> </a>
        <a href="https://www.twitter.com"> <img src="../images/uDmdf69S_400x400.jpg" class="f2" alt="logo X" width="400" height="400"></a>
        <a href="https://www.bereal.com"> <img src="../images/BeReal._Logo.svg.png" class="f3" alt="logo be real" width="1200" height="1200"></a>
        <br><a href="../avisos_legales_politica_de_cookies_etc/avisoLegal.pdf" class="f9"> aviso legal</a>
        <a href="../avisos_legales_politica_de_cookies_etc/politicaCookies.pdf" class="f10"> politica de cookies</a>
        <a href="../avisos_legales_politica_de_cookies_etc/avisoConfidencialidad.pdf" class="f11"> aviso
            confidencialidad</a>
        <a href="../avisos_legales_politica_de_cookies_etc/politicaPrivacidadDatos.pdf" class="f12"> politica
            privacidad</a>
    </footer>
</body>

</html>