<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página de prácticas masterD">
    <meta name="robots" content="NOFOLLOW">
    <meta name="Author" content="Eloy">
    <meta name="keywords" content="Demo,Prueba,Práctica4">
    <meta name="lang" content="es">
    <meta name="revisit-after" content="2 days">
    <meta name="category" content="Prácticas">
    <link rel="stylesheet" type="text/css" href="../estilos/estilos.css">
    <title>Práctica 4 - Sitio Web</title>
    <meta name="Practica maquetación paginas web" content="width=device-width initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../CSS/estilos.css">
</head>

<body class="d">
    <img src="../images/History.png" class="kj" alt="logo" width="500" height="500"> 
    <img src="../images/1.png" class="km" alt="nombre_pagina" width="900" height="600">
    <h1>Bibliografia y webgrafia</h1>
    <header>

        <!--Div que contiene el menú-->
        <span class="botonin">
            <a href="../index.html" class="div_menu">Índice</a>
        </span>
        <span class="boton">
            <a href="../Views/mitos_principales_0.2.html" class="div_menu">Mitos principales</a>
        </span>
        <span class="boton">
            <a href="../Views/mitos_mas_raretes.html" class="div_menu">Mitos mas raretes</a>
        </span>
        <span class="boton">
            <a href="#" class="div_menu_active">bibliografiay webgrafia</a>
        </span>
        <span class="boton">
            <a href="../Views/Galeria.html" class="div_menu"> Galeria</a>
        </span>
        <span class="boton">
            <a href="../Views/Presupuestos.html" class="div_menu">Registro</a>
        </span>
        <span class="boton">
            <a href="../Views/contacto.html" class="div_menu">Contacto</a>
        </span>

    </header>
    <div class="esperare">
        <h1>Bibliografia</h1>
        <img src="../images/78.jpg" class="f13" alt="titulo pagina">
        <p>MITOS Y LEYENDAS DE LA SEGUNDA GUERRA MUNDIAL
            JAMES HAYWARD  <br>Breve historia de Japón Mikiso Hane <br>MITOS DE LA SEGUNDA GUERRA MUNDIAL JEAN LÓPEZ
            / OLIVIER W. <br>James Holland EL auge de Alemania <br> la Segunda Guerra Mundial en Occidente
            1039-1941 
        </p>
    </div>
    <div class="a">
        <img src="../images/sobremesa_600.jpg" class="f15" alt="pc">
        <img src="../images/unnamed2.png" class="pm" alt="webgrafia">
        <h2>webgrafia</h2>
        <a
            href="https://www.larazon.es/cultura/historia/huyo-hitler-lugo-teorias-que-niegan-suicidio-fuhrer_202310096523b2b990d39d00010a9e37.html">https://www.larazon.es/cultura/historia/huyo-hitler-lugo-teorias-que-niegan-suicidio-fuhrer_202310096523b2b990d39d00010a9e37.html
        </a>
        <a
            href="https://www.nationalgeographic.es/historia/2020/02/fue-esta-foto-un-montaje-historia-real-imagen-iconica-ii-guerra-mundial"><br>https://www.nationalgeographic.es/historia/2020/02/fue-esta-foto-un-montaje-historia-real-imagen-iconica-ii-guerra-mundial
        </a>
        <a href="https://es.wikipedia.org/wiki/Rendición_de_Japón"> <br>
            https://es.wikipedia.org/wiki/Rendición_de_Japón</a>
        <a
            href="https://www.cope.es/actualidad/sociedad/historia/noticias/verdadero-motivo-rendicion-japon-guerra-mundial-mas-alla-las-bombas-atomicas-20211114_1613166"><br>https://www.cope.es/actualidad/sociedad/historia/noticias/verdadero-motivo-rendicion-japon-guerra-mundial-mas-alla-las-bombas-atomicas-20211114_1613166</a>
        <a
            href="https://www.historia.com/magazine/8-agosto-1945-la-urss-declara-la-guerra-japon/#:~:text=las%20islas%20Kuriles.-,8%20Agosto%201945%20La%20URSS%20declara%20la%20guerra%20a%20Japón,que%20forman%20las%20islas%20Kuriles"><br>https://www.historia.com/magazine/8-agosto-1945-la-urss-declara-la-guerra-japon/#:~:text=las%20islas%20Kuriles.-,8%20Agosto%201945%20La%20URSS%20declara%20la%20guerra%20a%20Japón,que%20forman%20las%20islas%20Kuriles</a>
        <a href="https://elpais.com/cultura/2020-05-05/lo-que-creiamos-de-la-ii-guerra-mundial-y-no-es-verdad.html">
            <br> https://elpais.com/cultura/2020-05-05/lo-que-creiamos-de-la-ii-guerra-mundial-y-no-es-verdad.html 
        </a>
        <a href="https://ocw.unican.es/pluginfile.php/1317/course/section/915/OR-III.3.pdf"><br>
            https://ocw.unican.es/pluginfile.php/1317/course/section/915/OR-III.3.pdf </a>
    </div>
    <footer class="footer">
        <a href="https://www.instagram.com" class="div_menu"> <img src="../images/Instagram_logo_2022.svg.png"
                class="f1" alt="logo instagram" width="800" height="800"> </a>
        <a href="https://www.twitter.com"> <img src="../images/uDmdf69S_400x400.jpg" class="f2" alt="logo X" width="400" height="400"></a>
        <a href="https://www.bereal.com"> <img src="../images/BeReal._Logo.svg.png" class="f3" alt="logo be real" width="1200" height="1200"></a>
        <br><a href="../avisos_legales_politica_de_cookies_etc/avisoLegal.pdf" class="f9"> aviso legal</a>
        <a href="../avisos_legales_politica_de_cookies_etc/politicaCookies.pdf" class="f10"> politica de cookies</a>
        <a href="../avisos_legales_politica_de_cookies_etc/avisoConfidencialidad.pdf" class="f11"> aviso
            confidencialidad</a>
        <a href="../avisos_legales_politica_de_cookies_etc/politicaPrivacidadDatos.pdf" class="f12"> politica
            privacidad</a>
    </footer>
</body>

   </html>