<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mitos Segunda Guerra Mundial">
    <meta name="robots" content="NOFOLLOW">
    <meta name="Author" content="Eloy">
    <meta name="keywords" content="Segunda Guerra Mundial, II World War">
    <meta name="lang" content="es">
    <meta name="revisit-after" content="2 days">
    <meta name="category" content="Mitos segunda guerra mundial, pagina prueba 1">
    <link rel="stylesheet" type="text/css" href="../CSS/estilos.css">
    <meta name=" viewport" content="width=device-width, initial-scale=1.0">
   
</head>

<body class="d">
    <img src="../images/History.png" class="kj" alt="logo" width="500" height="500"> 
    <img src="../images/1.png" class="km" alt="nombre_pagina" width="900" height="600">
 <h1>Mitos mas raretes</h1>

    <header>
        <div class="div_menu">
            <span class="botonin">
                <a href="../index.html" class="div_menu">Índice</a>
            </span>
            <span class="boton">
                <a href="../Views/mitos_principales_0.2.html" class="div_menu">Mitos principales</a>
            </span>
            <span class="boton">
                <a href="#" class="div_menu_active">Mitos mas raretes</a>
            </span>
            <span class="boton">
                <a href="../Views/infografia_y_webgrafia.html" class="div_menu">bibliografiay webgrafia</a>
            </span>
            <span class="boton">
                <a href="../Views/Galeria.html" class="div_menu"> Galeria</a>
            </span>
            <span class="boton">
                <a href="../Views/Presupuestos.html" class="div_menu">Registro</a>
            </span>
            <span class="boton">
                <a href="../Views/contacto.html" class="div_menu">Contacto</a>
            </span>
            </div>
        </header>
    <div class="jamas">
        <h2 class="h">Hitler y Argentina</h2>
        <img src="../images/hitler-k6oD--510x349@abc.webp" class="f13" alt="el Führer" width="510" height="349">
        <img src="../images/mapa-politico-argentina.webp" class="f15" alt="Argentina" width="1300" height="1837">
        <p>Si te pones a investigar sobre la Segunda Guerra Mundial y te dejas seducir por ciertas lecturas, llegara a
            ti tarde o temprano este "Mito" que además actualmente tiene problemas judiciales abiertos y es que en
            cierto momento surgio el rumor aumentado por un libro escrito por un historiador y un periodista que habla
            sobre la posibilidad de que Hitler huyera a latinoamerica ante la entrada de las fuerzas aliadas y
            sovieticas en Berlin, este mito es absurdo, cuando se entro en Berlín y se descubrio el bunker se encontro
            tanto a la familia como a Hitler sin vida.</p>
    </div>

    <div class="esperare">
        <img src="../images/descarga_(2).jpg" class="f14" alt="Bomba fat man" width="279" height="183">
        <img src="../images/Flag_of_the_Soviet_Union.svg.png" class="f15" alt="Bandera Unión Sovietica" width="2560" height="1280">
        <img src="../images/Manchukuo_map.png" class="f16" alt="Manchuria" width="800" height="944">
        <h3 class="h">Hiroshima y Nagasaki, el espiritu japones.</h3>
        <p>Se suele decir que Japón se rindio debido al estallido de las bombas en Hiroshima y una vez recuperado un
            poco de la guerra aprovecho que Japón estaba en las ultimas más con las dos bombas caidas,invadio Japón el 8
            de agosto de 1945 provocando la rendición un més después ante la invasión de la URSS en lo que era Manchuria
            que era un país titere de Japón.</p>
    </div>
    <div class="rendire">
        <h4 class="h">Franco y Hitler y el por que no entramos en la segunda guerra mundial</h4>
        
        <img src="../images/Francisco-Franco.webp" class="f13" alt="Francisco Franco" width="1186" height="1600">
        <img src="../images/98.webp" class="f14" alt="visita de Hitler a España" width="1900" height="1969">
        <p> Se suele decir o hay un mito sobretodo en ciertos grupos entre ciertas personas que se meten en el punto de
            cuando Hitler se paseo por España para hablar con Franco sobre la entrada de España en la guerra. Hay un
            mito de que Franco llego tarde a la cita para poner nervioso a Hitler y que accediera mas facil a las
            pretensiones de España y poner una excusa y justo llegar a hacer el trato mejor, pero aquí fallan muchas
            cosas y es que a Hitler no le caia muy bien Franco y además las pretensiones de España que tenia, es decir,
            no fue por que Franco hiciera eso, si no que fue las pretensiones y el no caerle bien a Hitler debido a que
            España queria Gibraltar, grandes partes de Africa y parte de Francia lo que no le gusto a Hitler, además de
            que España no estaba preparada para una guerra. </p>
            <img src="../images/GNR_1744_at_Leicester_North_(3).jpg" class="f15" alt="tren" width="2910" height="1848">
    </div>
    <footer class="footer">
        <a href="https://www.instagram.com" class="div_menu"> <img src="../images/Instagram_logo_2022.svg.png"
                class="f1" alt="logo instagram" width="800" height="800"> </a>
        <a href="https://www.twitter.com"> <img src="../images/uDmdf69S_400x400.jpg" class="f2" alt="logo X" width="400" height="400"></a>
        <a href="https://www.bereal.com"> <img src="../images/BeReal._Logo.svg.png" class="f3" alt="logo be real" width="1200" height="1200"></a>
        <br><a href="../avisos_legales_politica_de_cookies_etc/avisoLegal.pdf" class="f9"> aviso legal</a>
        <a href="../avisos_legales_politica_de_cookies_etc/politicaCookies.pdf" class="f10"> politica de cookies</a>
        <a href="../avisos_legales_politica_de_cookies_etc/avisoConfidencialidad.pdf" class="f11"> aviso
            confidencialidad</a>
        <a href="../avisos_legales_politica_de_cookies_etc/politicaPrivacidadDatos.pdf" class="f12"> politica
            privacidad</a>
    </footer>
</body>
</html>