<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mitos principales</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mitos Segunda Guerra Mundial">
    <meta name="robots" content="NOFOLLOW">
    <meta name="Author" content="Eloy">
    <meta name="keywords" content="Segunda Guerra Mundial, II World War">
    <meta name="lang" content="es">
    <meta name="revisit-after" content="2 days">
    <meta name="category" content="Mitos segunda guerra mundial, pagina prueba 1">
    <link rel="stylesheet" type="text/css" href="../CSS/estilos.css">
</head>

<body class="d">
    <img src="../images/History.png" class="kj" alt="logo" width="500" height="500"> 
    <img src="../images/1.png" class="km" alt="nombre_pagina" width="900" height="600">
    <h1 class="h">Mitos principales</h1>

    <header>
        <span class="botonin">
            <a href="../index.html" class="div_menu">Índice</a>
        </span>
        <span class="boton">
            <a href="#" class="div_menu_active">Mitos principales</a>
        </span>
        <span class="boton">
            <a href="../Views/mitos_mas_raretes.html" class="div_menu">Mitos mas raretes</a>
        </span>
        <span class="boton">
            <a href="../Views/infografia_y_webgrafia.html" class="div_menu">bibliografiay webgrafia</a>
        </span>
        <span class="boton">
            <a href="../Views/Galeria.html" class="div_menu"> Galeria</a>
        </span>
        <span class="boton">
            <a href="../Views/Presupuestos.html" class="div_menu">Registro</a>
        </span>
        <span class="boton">
            <a href="../Views/contacto.html" class="div_menu">Contacto</a>
        </span>

    </header>
    <div></div>
    <div class="love">
        <h2 class="h">Alemania y Hitler</h2>

        <p>Se suele decir muchas causas sobre Alemania y de Hitler y sobretodo estos días sobre las personas
            pertenecientes al Partido Socialista Obrero Aleman o Deutsche Nationalsozialistische Arbeiterpartei, de
            donde se saco la palabra "Nazi", sobre esto se podria hablar mucho entre otros, como por que la gente voto a
            Hitler o como sobrevivieron a la gran depresión que ocurrio en 1929, etc, aunque varias se respondend una a
            la otra. Sino que aqui estamos por los mitos, por lo que bueno empezare con uno de los mas famosos y es uno
            que creo las peliculas de hollywood y que todos hemos creido alguna vez y es el tema de que Hitler fue
            detenido por sus "conquistas" al principio nada mas empezarlas con el ancluss o el asunto de checoslovaquia
            con los sudetes y que hubo una respuesta total de los aliados incluido EEUU pero no fue así si no que fue al
            reves, Alemania recibio una queja diplomatica por remilitarizar su territorio con frontera con Francia pero
            ante sus expansiones no hicieron nada hasta que fue tarde, por ejemplo el ancluss, que fue la anexion de
            Austria por Alemania, se hizo y nadie dijo nada, Chechoslovaquia por ejemplo fue un territorio que fue
            anexionado, sin tampoco muchas objeciones, Reino Unido le dio la razón a Alemania sobre la cuestion de
            Checoslovaquia, es decir Reino Unido considero que los Sudetes eran territorio Aleman, fue tras la
            declaración de guerra a Polonia el 1 de septiembre de 1939 cuando entraron en guerra y tras el 23 de agosto
            de 1939 se inicio la segunda guerra mundial real con la declaración de Alemania de la guerra a la URSS.</p>
        <img src="../images/imagen_mapa.jpg" class="b" alt="mapa de como quedo el mapa durante el conflicto" width="267" height="189">
    </div>
  
    <div class="mucho">
        <h3 class="h"> Hitler y su figura</h3>
        <img src="../images/Adolf_Hitler_cropped_restored.jpg" class="f13" alt="foto hitler" width="640" height="843">
        <p> Se tiene a Hitler como un gran personaje de la historia, un gran estratega y si algo de cierto tiene,
            supo aprovechar las oportunidades muy bien pero no fue ni tan gran estratega ni nada, simplemente tuvo
            varios golpes de suerte que luego se acabaron, ya que si investigas Hitler repasaba mil veces, era muy
            de mapas, pero no entendia que cada movimiento en el mapa significa mover recursos,combustible y hombres
            lo cual se vio en el frente ruso donde perdieron, también debido a las tacticas de guerra sucia rusa
            pero no solo aquí si no en otros frentes. </p>
    </div>
    <div class="y">
        <h4 class="h">El tiger, el gatito misifu de hierro</h4>
        <p>Uno al pensar en Alemania y tanques suele pensar en los panzers, pero confomre avanzaba la guerra se
            desarrollo otro, el temido tiger fue una serie de tanques utilizado por los alemanes durante la segunda
            guerra mundial y era uno de los temores mas grandes en el campo de batalla o eso nos ha llegado ya que si
            echamos la vista atras y miramos era un agujero negro de combustible, es decir, tenia mucho blindaje, si
            pero para mover eso hacia falta mucho combustible, cosa que ala hora de su primera implementación no fue muy
            bueno ya que fue desarrollado en 1941 y en esa fase de la guerra Alemania por lo ya dicho estaba muy falta
            de combustible y si te pones a investigar no era muy bueno a largas distancias era mas fuerte en distancias
            cercanas por lo que no era tan fuerte como se nos dice </p> 
            <img src="../images/descarga.jpg" class="f14" alt="tiger tanque" width="191" height="180">
            
    </div>
    <div class="no">
        <h5 class="h">¿Pacto de acero o de Mantequilla? Alemania utilizo a Italia</h5>
<img src="../images/unnamed.gif" class="c" alt="generales y demas firmando el pacto de acero" width="470" height="237">
        <p>El pacto de Acero fue un pacto firmado entre Alemania y Italia fue un pacto hecho ya que estas dos naciones
            naciones, se llevaban bastante bien, con este pacto se ayudarian en caso de cuestiones militares. lo que
            pasa aquí es que este pacto también conllevaba ayuda en las guerras, aunque dicho pacto también fue firmado
            por Italia con la condición de que no habria conflictos en un tiempo debido a que Italia estaba muy por
            detras de los otros países europeos y Alemania traiciono esto al declararle la guerra a Polonia en el 39 ya
            que esta rechazo entregarle Danzig a Alemania y esta intento arrastrar a Italia. Por eso el titulo ya que
            si, se firmo el pacto de Acero pero en un principio Mussolini el Duce, se le intento de convencer de que no
            entrara y se traiciono a Italia por eso ya que Italia acepto el trato por eso. </p>
        <img src="../images/pacto-de-acero.jpeg" class="f16" alt="pacto de acero" width="1024" height="576">
        
    </div>
    <div class="me">
        <h6 class="h">El General Invierno</h6>
        
        <p>Se suele decir que el principal factor de la derrota alemana fue el invierno y no es asi, fue un simple
            factor que junto a que Alemania estaba siendo atacada por multiples frentes, el desembarco de Normandia, la
            caida de Mussolini, la poca y mala planificación alemana provocada por Hitler y demas, no solo fue el
            invierno el que derroto a Alemania fue todo esto. </p><img src="../images/descarga_(1).jpg" class="f15" alt="soldados en invierno" width="300" height="168">
    </div>
    <footer class="footer">
        <a href="https://www.instagram.com" class="div_menu"> <img src="../images/Instagram_logo_2022.svg.png"
                class="f1" alt="logo instagram" width="800" height="800"> </a>
        <a href="https://www.twitter.com"> <img src="../images/uDmdf69S_400x400.jpg" class="f2" alt="logo X" width="400" height="400"></a>
        <a href="https://www.bereal.com"> <img src="../images/BeReal._Logo.svg.png" class="f3" alt="logo be real" width="1200" height="1200"></a>
        <br><a href="../avisos_legales_politica_de_cookies_etc/avisoLegal.pdf" class="f9"> aviso legal</a>
        <a href="../avisos_legales_politica_de_cookies_etc/politicaCookies.pdf" class="f10"> politica de cookies</a>
        <a href="../avisos_legales_politica_de_cookies_etc/avisoConfidencialidad.pdf" class="f11"> aviso
            confidencialidad</a>
        <a href="../avisos_legales_politica_de_cookies_etc/politicaPrivacidadDatos.pdf" class="f12"> politica
            privacidad</a>
    </footer>
</body>

</html>