<!DOCTYPE html>
<html lang="es">

<head>
    <meta name="description" content="Practica Primera Web">
    <meta name="robots" content="NOFOLLOW">
    <meta name="Author" content="Eloy">
    <meta name="keywords" content="Demo,Prueba,Práctica4">
    <meta name="lang" content="es">
    <meta name="revisit-after" content="2 days">
    <meta name="category" content="Prácticas">
    <!-- Declaración de fichero de estilos -->
    <link rel="stylesheet" type="text/css" href="../CSS/estilos.css">
    <title>Práctica 4 - Sitio Web</title>
    <meta charset="UTF-8">
    <meta name="Practica" content="width=device-width, initial-scale=1.0">

</head>

<body class="d">
    <img src="../images/History.png" class="kj" alt="logo" width="500" height="500">
    <img src="../images/1.png" class="km" alt="nombre_pagina" width="900" height="600">


    <header>

        <!--Div que contiene el menú-->
        <div class="div_menu">
            <span class="botonin">
                <a href="../index.html" class="div_menu">Índice</a>
            </span>
            <span class="boton">
                <a href="../Views/mitos_principales_0.2.html" class="div_menu">Mitos principales</a>
            </span>
            <span class="boton">
                <a href="../Views/mitos_mas_raretes.html" class="div_menu">Mitos mas raretes</a>
            </span>
            <span class="boton">
                <a href="../Views/infografia_y_webgrafia.html" class="div_menu">bibliografiay webgrafia</a>
            </span>
            <span class="boton">
                <a href="../Views/Galeria.html" class="div_menu"> Galeria</a>
            </span>
            <span class="boton">
                <a href="#" class="div_menu">Registro</a>
            </span>
            <span class="boton">
                <a href="../Views/contacto.html" class="div_menu">Contacto</a>
            </span>
        </div>
    </header>
    <div class="xd">
        <img src="../images/3534139.png" class="to" alt="titulo pagina" width="512" height="512">
        <div class="quiero">
            <form action="#" method="get">
                <h1>Rellena los siguientes campos: </h1>
                <div>
                    <label for="nombre"> Nombre:</label>
                    <input type="text" name="nombre" pattern="[A-Za-z /áÁéÉíÍóÓúÚñÑüÜ]{3,12}" class="caja_gris"
                        maxlength="15" size="27" id="nombre" placeholder="Nombre(requerido)" required>
                </div>
                <div>
                    <label for="direccion"> Dirección:</label>
                    <input type="text" name="direccion" pattern="[A-Za-z 0-10/áÁéÉíÍóÓúÚñÑüÜ]{30}" class="caja_gris"
                        maxlength="11" size="26" id="direccion" placeholder="Dirección (requerido)" required>
                </div>

                <div>
                    <label for="numero_de_telefono">Numero de telefono:</label>
                    <input type="text" name="nombre" pattern="[0-9]{9}" class="caja_gris" maxlength="30" size="15"
                        id="numero_de_telefono" placeholder="Numero(requerido)" required>
                </div>
                <div>
                    <label for="edad">Edad:</label>
                    <input type="text" name="nombre" pattern="[0-99]{2}" class="caja_gris" maxlength="50" size="30"
                        id="edad" placeholder="Edad (requerido)" required>
                </div>
                <div> 
                    <label for="email"></label> E-mail:<input type="email" name="correo" class="caja_gris"
                        maxlength="70" size="29" id="email" value="" placeholder="e-mail(requerido)" required>
                </div>

                <div><input type="submit" name="Boton de enviar" value="ENVIAR FORMULARIO" class="boton_form morado">
                    <input type="checkbox" name="Boton de enviar" value="ENVIAR FORMULARIO" required>
                </div>



            </form>
        </div>

    </div>
    <footer class="footer"><a href="https://www.instagram.com" class="div_menu"> <img src="../images/Instagram_logo_2022.svg.png" 
        class="f1" alt="logo instagram" width="800" height="800"> </a>
    <a href="https://www.twitter.com"> <img src="../images/uDmdf69S_400x400.jpg" class="f2" alt="logo X" width="400"
            height="400"></a>
    <a href="https://www.bereal.com"> <img src="../images/BeReal._Logo.svg.png" class="f3" alt="logo be real"
            width="1200" height="1200"></a>
    <br><a href="../avisos_legales_politica_de_cookies_etc/avisoLegal.pdf" class="f9"> aviso legal</a>
    <a href="../avisos_legales_politica_de_cookies_etc/politicaCookies.pdf" class="f10"> politica de cookies</a>
    <a href="../avisos_legales_politica_de_cookies_etc/avisoConfidencialidad.pdf" class="f11"> aviso
        confidencialidad</a>
    <a href="../avisos_legales_politica_de_cookies_etc/politicaPrivacidadDatos.pdf" class="f12"> politica
        privacidad</a>
    </footer>
</body>

</html>